
# --------------------------- IDE files & folders ---------------------------- #

.idea
.env
.venv
.vscode
.DS_Store

# --------------------------------- Logging ---------------------------------- #

npm-debug.log*

# ------------------------------- Dependencies ------------------------------- #

/node_modules
/.pnp
.pnp.js

# --------------------------------- Testing ---------------------------------- #

test
coverage

# ---------------------------------- Build ----------------------------------- #

/build